In [16]:
import streamlit as st
import pandas as pd
import pyodbc
import warnings
warnings.simplefilter('ignore')
import plotly.express as px
servername = 'LAPTOP-C1FMPSTV\\SQLEXPRESS01'

UnitedOutdoors = pyodbc.connect('DRIVER={SQL SERVER};SERVER='+servername+';DATABASE=UnitedOutdoors; Trusted_Connection=yes')
export_cursor = UnitedOutdoors.cursor()
export_cursor

In [19]:
order = pd.read_sql_query('SELECT * FROM order_details', UnitedOutdoors)
product = pd.read_sql_query('SELECT * FROM product', UnitedOutdoors)
employee = pd.read_sql_query('SELECT * FROM employee', UnitedOutdoors)
customer = pd.read_sql_query('SELECT * FROM customer', UnitedOutdoors)

product

,product_sk,product_productid,product_name,product_color,product_standardcost,product_listprice,product_category,product_subcategory,product_quantity,product_source
0,1,1,Adjustable Race,None,0.0,0.0,None,None,1085,AW
1,2,2,Bearing Ball,None,0.0,0.0,None,None,1109,AW
2,3,3,BB Ball Bearing,None,0.0,0.0,None,None,1352,AW
3,4,4,Headset Ball Bearings,None,0.0,0.0,None,None,1322,AW
4,5,316,Blade,None,0.0,0.0,None,None,1361,AW
...,...,...,...,...,...,...,...,...,...,...
586,587,500,Visor,White,0.0,7.0,Accessories,None,36,AC
587,588,501,Visor,Black,0.0,7.0,Accessories,None,28,AC
588,589,600,Sweatshirt,Green,0.0,24.0,Clothes,None,39,AC
589,590,601,Sweatshirt,Blue,0.0,24.0,Clothes,None,32,AC
590,591,700,Shorts,Black,0.0,15.0,Clothes,None,80,AC

In [21]:
order['TotalQuantity'] = order.groupby('product_productid')['product_quantity'].transform('sum')
order['TotalWinst'] = order['TotalQuantity'] * order['product_listprice']
order['date'] = pd.to_datetime(order['order_date'])
order['Year'] = order['date'].dt.year 
order

,order_details_sk,order_id,product_quantity,product_listprice,order_date,shipping_date,product_productid,product_sk,employee_employeeid,employee_sk,customer_id,customer_sk,source,TotalQuantity,TotalWinst,date,Year
0,1,2001,12,9.00,1996-03-14,1996-09-15,300,582,299.0,314.0,101,92,AC,2374,21366.00,1996-03-14,1996
1,2,2001,12,14.00,1996-03-14,1996-09-14,301,583,299.0,314.0,101,92,AC,2403,33642.00,1996-03-14,1996
2,3,2001,12,14.00,1996-03-14,1996-09-14,302,584,299.0,314.0,101,92,AC,2139,29946.00,1996-03-14,1996
3,4,2002,24,9.00,1996-03-18,1996-09-18,400,585,467.0,321.0,102,93,AC,3310,29790.00,1996-03-18,1996
4,5,2002,24,10.00,1996-03-18,1996-09-18,401,586,467.0,321.0,102,93,AC,2677,26770.00,1996-03-18,1996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124570,124571,75122,1,21.98,2014-06-30,2014-07-07,878,383,NaN,NaN,15868,5798,AW,2121,46619.58,2014-06-30,2014
124571,124572,75122,1,8.99,2014-06-30,2014-07-07,712,217,NaN,NaN,15868,5798,AW,8311,74715.89,2014-06-30,2014
124572,124573,75123,1,21.98,2014-06-30,2014-07-07,878,383,NaN,NaN,18759,8693,AW,2121,46619.58,2014-06-30,2014
124573,124574,75123,1,159.00,2014-06-30,2014-07-07,879,384,NaN,NaN,18759,8693,AW,249,39591.00,2014-06-30,2014
124574,124575,75123,1,8.99,2014-06-30,2014-07-07,712,217,NaN,NaN,18759,8693,AW,8311,74715.89,2014-06-30,2014

grafiek 1

In [22]:
order_product = pd.merge(order,product,on="product_sk",how='left')
op = order_product.loc[:,["order_id","product_name","product_category","TotalQuantity","TotalWinst","Year"]]
op

,order_id,product_name,product_category,TotalQuantity,TotalWinst,Year
0,2001,Tee Shirt,Clothes,2374,21366.00,1996
1,2001,Tee Shirt,Clothes,2403,33642.00,1996
2,2001,Tee Shirt,Clothes,2139,29946.00,1996
3,2002,Baseball Cap,Accessories,3310,29790.00,1996
4,2002,Baseball Cap,Accessories,2677,26770.00,1996
...,...,...,...,...,...,...
124570,75122,Fender Set - Mountain,Accessories,2121,46619.58,2014
124571,75122,AWC Logo Cap,Clothing,8311,74715.89,2014
124572,75123,Fender Set - Mountain,Accessories,2121,46619.58,2014
124573,75123,All-Purpose Bike Stand,Accessories,249,39591.00,2014
124574,75123,AWC Logo Cap,Clothing,8311,74715.89,2014

In [24]:
fig = px.bar(op, x='product_name', y='TotalQuantity', color='Year', barmode='stack')
st.plotly_chart(fig)

2024-05-27 15:20:17.824
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\sheng\AppData\Local\pypoetry\Cache\virtualenvs\united-outdoors-xVwbfDhc-py3.12\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator()